{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "chrome": "73",
          "edge": "79",
          "firefox": "78",
          "opera": "60"
        }
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-macros"
    ],
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h",
        "pragmaFrag": "Fragment"
      }
    ]
  ]
}
